@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
// div {
//   font-weight: 600;
//   font-size: 60px;
//   line-height: 1.1;
//   width: 450px;
// }

// p {
//   font-weight: 400;
//   font-size: 20px;
//   width: 400px;
//   line-height: 1.6;
// }
// span {
//   font-weight: 400;
//   font-size: 14px;
//   width: 500px;
//   line-height: 1.6;
// }

html {
  height: 1000px;
}

::selection {
  background-color: rgb(67, 83, 255);
  color: white;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.sticky_menu {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #111;
  display: none;
  .container {
    height: 74px;
    color: #fff;
    display: flex;
    align-items: center;
    .logo {
      margin-right: 16px;
      img {
        height: 22px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      nav {
        height: 74px;
        display: flex;
        align-items: center;
        ul {
          display: flex;
          position: relative;
          .item {
            margin-right: 20px;
            margin-left: 10px;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            top: 30px;
            z-index: 1;
            background-color: #fff;
            padding: 28px;
            width: 200px;
            .dropdown_heading {
              border-bottom: 1px solid black;
              color: #666;
              font-size: 12px;
              padding-bottom: 5px;
              margin-top: 28px;
              margin-bottom: 10px;
              &:first-child {
                margin-top: 0px;
              }
            }
            ul {
              display: flex;
              flex-direction: column;
              li {
                display: block;
                a {
                  color: #000;
                  margin: 8px 0px;
                  font-weight: 600;
                  &:hover {
                    color: #4353ff;
                  }
                }
              }
            }
          }
          .dropdown-content a {
            color: black;
            text-decoration: none;
            display: block;
            text-align: left;
          }

          .dropdown:hover .dropdown-content {
            display: block;
          }
          li {
            a {
              color: #fff;
              font-size: 14px;
              font-weight: 500;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                height: 12px;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .buttons {
        height: 74px;
        display: flex;
        align-items: center;
        ul {
          display: flex;
          li {
            margin-left: 15px;
            a {
              height: 50px;
              padding-left: 24px;
              padding-right: 24px;
              font-size: 15px;
              font-weight: 500;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              &:hover {
                background-color: #2b2b2b;
              }
            }
          }
          .get_started {
            background-color: #4353ff;
            span {
              margin-left: 5px;
            }
            &:hover {
              background-color: #3545ee;
            }
          }
        }
      }
    }
  }
}
.header {
  margin-top: 48px;
  .container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 23px;
      }
    }
    nav {
      ul {
        display: flex;
        li {
          background-color: rgba(#4353ff, 0.1);
          padding: 18px 24px;
          cursor: pointer;
          margin-left: 16px;
          a {
            color: #4353ff;
            font-size: 14px;
            font-weight: 500;

            span {
              font-weight: 400;
              opacity: 0.8;
            }
          }
          &:first-child {
            background-color: transparent;
            &:hover {
              background-color: rgba(#4353ff, 0.1);
            }
          }
          &:hover {
            background-color: rgba(67, 83, 255, 0.14);
          }
        }
      }
    }
  }
}
.hero {
  margin-top: 32px;
  .header-hero {
    .container {
      height: 505px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        .hero-title {
          font-size: 60px;
          font-weight: 600;
          letter-spacing: -1px;
          width: 420px;
          line-height: 1.2;
        }
        .hero-text {
          font-size: 20px;
          line-height: 1.6;
          margin-top: 16px;
          max-width: 420px;
        }
        .hero-button {
          background-color: #4353ff;
          padding: 14px 24px;
          color: white;
          font-weight: 500;
          width: max-content;
          height: 60px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 26px;
          span {
            font-weight: 400;
            opacity: 0.8;
          }
          &:hover {
            background-color: #3545ee;
          }
        }
      }
      .right {
        display: flex;
        img {
          margin-right: -45px;
          height: 505px;
        }
      }
    }
  }
  .hero-logos {
    margin-top: 62px;
    .container {
      ul {
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          display: flex;
          align-items: center;
        }
        li a img {
          height: 24px;
        }
      }
    }
  }
}
.sections {
  width: 1280px;
  margin: 0 auto;
  margin-top: 86px;
  .section {
    .container {
      padding: 64px;
      display: flex;
      .left {
        max-width: 350px;
        .heading {
          font-size: 80px;
          line-height: 1.2;
        }
        .sub_heading {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 500;
          margin-top: 10px;
          span {
            border-bottom: 1px solid black;
          }
        }
        .quote {
          margin-top: 86px;
          height: 350px;
          padding: 32px;
          background-color: #fff;
          img {
            height: 25px;
          }
          .quote_text {
            margin-top: 32px;
            font-size: 16px;
            line-height: 1.5;
          }
          .quote_profile {
            display: flex;
            align-items: center;
            margin-top: 36px;
            img {
              width: 48px;
              height: 48px;
              border-radius: 24px;
            }
            .profile_info {
              display: flex;
              flex-direction: column;
              font-size: 14px;
              font-weight: 600;
              margin-left: 16px;
              span {
                line-height: 1.5;
              }
            }
          }
        }
      }
      .right {
        margin-left: 64px;
        img {
          width: 100%;
        }
        .features {
          display: flex;
          margin-top: 32px;
          .feature {
            width: 100%;
            margin-left: 24px;
            &:first-child {
              margin-left: 0px;
            }
            .feature_title {
              font-size: 14px;
              line-height: 1.5;
              font-weight: 600;
            }
            .feature_desc {
              margin-top: 14px;
              font-size: 13px;
              line-height: 1.5;
            }
            span {
              border-bottom: 1px solid #000;
            }
          }
        }
      }
    }
  }

  .sub_section {
    width: 1280px;
    margin: 0 auto;
    .container {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      cursor: pointer;
      span {
        font-weight: 400;
        margin-left: 5px;
      }
      img {
        height: 11px;
        margin-left: 12px;
      }
    }
  }
}

.first {
  .section {
    .container {
      background-image: linear-gradient(135deg, #f8dbd7, #fff2e1);
    }
  }
  .sub_section {
    background-image: linear-gradient(135deg, #f8dbd7, #fff2e1);
    .container {
      background-color: rgba(178, 102, 54, 0.2);
      &:hover {
        background-color: rgba(178, 102, 54, 0.3);
      }
    }
  }
}
.second {
  .section {
    .container {
      background-image: linear-gradient(135deg, #fedfe7, #e8e5f3);
    }
  }
  .sub_section {
    background-image: linear-gradient(135deg, #fedfe7, #e8e5f3);
    .container {
      background-color: rgba(180, 113, 168, 0.25);
      &:hover {
        background-color: rgba(180, 113, 168, 0.35);
      }
    }
  }
}
.third {
  .section {
    .container {
      background-image: linear-gradient(135deg, #cee9e2, #edf0e9);
    }
  }
  .sub_section {
    background-image: linear-gradient(135deg, #cee9e2, #edf0e9);
    .container {
      background-color: rgba(69, 165, 135, 0.25);
      &:hover {
        background-color: rgba(69, 165, 135, 0.35);
      }
    }
  }
}

.resources {
  margin-top: 132px;
  .container {
    .sub_heading {
      font-size: 14px;
      line-height: 1.5;
      color: #666666;
      font-weight: 400;
    }
    .heading {
      font-size: 60px;
      margin-top: 24px;
    }
    .text {
      font-size: 20px;
      line-height: 1.8;
      width: 500px;
      margin-top: 16px;
    }
    .items {
      display: flex;
      .item {
        width: 100%;
        height: 270px;
        margin-left: 24px;
        padding: 32px;
        cursor: pointer;
        margin-top: 64px;
        &:first-child {
          margin-left: 0px;
        }
        img {
          height: 60px;
        }
        .item_heading {
          font-size: 20px;
          line-height: 1.6;
          font-weight: 500;
          margin-top: 32px;
        }
        .item_text {
          font-size: 16px;
          line-height: 1.6;
          margin-top: 12px;
        }
      }
      .item-1 {
        background-image: linear-gradient(45deg, #dceaff, #f3f2fb);
        &:hover {
          background-image: linear-gradient(
              180deg,
              rgba(67, 83, 255, 0.05),
              rgba(67, 83, 255, 0.05)
            ),
            linear-gradient(45deg, #dceaff, #f3f2fb);
        }
      }
      .item-2 {
        background-image: linear-gradient(45deg, #e1eaff, #fbf0f4);
        &:hover {
          background-image: linear-gradient(
              180deg,
              rgba(67, 83, 255, 0.05),
              rgba(67, 83, 255, 0.05)
            ),
            linear-gradient(45deg, #e1eaff, #fbf0f4);
        }
      }
      .item-3 {
        background-image: linear-gradient(45deg, #f1effd, #ffeaef);
        &:hover {
          background-image: linear-gradient(
              180deg,
              rgba(67, 83, 255, 0.05),
              rgba(67, 83, 255, 0.05)
            ),
            linear-gradient(45deg, #f1effd, #ffeaef);
        }
      }
    }
  }
}

.footer {
  background-color: #111111;
  margin-top: 128px;
  color: #fff;
  padding: 128px 80px 90px 80px;
  .footer_top {
    .container {
      display: flex;
      justify-content: space-between;
      .left {
        width: 570px;
        .heading {
          font-size: 60px;
          letter-spacing: -2px;
          line-height: 1.1;
        }
        .text {
          font-size: 18px;
          line-height: 1.8;
          margin-top: 30px;
        }
        .button {
          font-weight: 500;
          background-color: #4353ff;
          padding: 14px 24px;
          width: max-content;
          height: 60px;
          margin-top: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          span {
            font-weight: 400;
            margin-left: 5px;
          }
        }
      }
      .right {
        width: 560px;
        margin-left: 100px;
        .heading {
          font-size: 14px;
          line-height: 1.5;
          color: #888888;
          font-weight: 400;
          letter-spacing: 1px;
        }
        .logos {
          margin-top: 56px;
          height: 265px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 25% 10%;
          grid-template-areas:
            ". . . ."
            ". . . ."
            ". . . .";
          img {
            max-height: 20px;
            max-width: 130px;

            opacity: 50%;
          }
        }
      }
    }
  }
  .footer_middle {
    margin-top: 128px;
    .container {
      img {
        height: 20px;
      }
    }
  }
  .footer_bottom {
    margin-top: 84px;
    .container {
      display: flex;
      .box {
        flex: 1;
        .heading {
          font-size: 15px;
        }
        ul {
          display: flex;
          flex-direction: column;
          li {
            margin-top: 30px;
            a {
              font-size: 15px;
              color: #888888;
              font-weight: 500;
              &:hover {
                color: #fff;
              }
              img {
                width: 24px;
                opacity: 0.45;
                &:hover {
                  opacity: 1;
                }
              }
              span {
                font-size: 10px;
                background-color: #404040;
                color: #fff;
                padding: 2px 5px;
                margin-left: 10px;
                letter-spacing: 0.5px;
              }
            }
          }
        }
      }
      .box-4 {
        flex: 0 auto;
        ul li {
          margin-top: 24px;
        }
      }
    }
  }
  .footer_copyright {
    margin-top: 90px;
    font-size: 15px;
    color: #888888;
  }
}
