@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
// div {
//   font-weight: 600;
//   font-size: 60px;
//   line-height: 1.1;
//   width: 450px;
// }

// p {
//   font-weight: 400;
//   font-size: 20px;
//   width: 400px;
//   line-height: 1.6;
// }
// span {
//   font-weight: 400;
//   font-size: 14px;
//   width: 500px;
//   line-height: 1.6;
// }

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.header {
  margin-top: 48px;
  .container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    nav {
      ul {
        display: flex;
        li {
          background-color: rgba(#4353ff, 0.1);
          padding: 18px 24px;
          cursor: pointer;
          margin-left: 16px;
          a {
            color: #4353ff;
            font-size: 14px;
            font-weight: 500;

            span {
              font-weight: 400;
            }
          }
          &:first-child {
            background-color: transparent;
            &:hover {
              background-color: rgba(#4353ff, 0.1);
            }
          }
          &:hover {
            background-color: rgba(67, 83, 255, 0.14);
          }
        }
      }
    }
  }
}
