@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  margin-top: 48px;
}

.header .container {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container .logo img {
  height: 23px;
}

.header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container nav ul li {
  background-color: rgba(67, 83, 255, 0.1);
  padding: 18px 24px;
  cursor: pointer;
  margin-left: 16px;
}

.header .container nav ul li a {
  color: #4353ff;
  font-size: 14px;
  font-weight: 500;
}

.header .container nav ul li a span {
  font-weight: 400;
  opacity: 0.8;
}

.header .container nav ul li:first-child {
  background-color: transparent;
}

.header .container nav ul li:first-child:hover {
  background-color: rgba(67, 83, 255, 0.1);
}

.header .container nav ul li:hover {
  background-color: rgba(67, 83, 255, 0.14);
}

.hero {
  margin-top: 32px;
}

.hero .header-hero .container {
  height: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .header-hero .container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .header-hero .container .left .hero-title {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 420px;
  line-height: 1.2;
}

.hero .header-hero .container .left .hero-text {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 16px;
  max-width: 420px;
}

.hero .header-hero .container .left .hero-button {
  background-color: #4353ff;
  padding: 14px 24px;
  color: white;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 60px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
}

.hero .header-hero .container .left .hero-button span {
  font-weight: 400;
  opacity: 0.8;
}

.hero .header-hero .container .left .hero-button:hover {
  background-color: #3545ee;
}

.hero .header-hero .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .header-hero .container .right img {
  margin-right: -45px;
  height: 505px;
}

.hero .hero-logos {
  margin-top: 62px;
}

.hero .hero-logos .container ul {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero-logos .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-logos .container ul li a img {
  height: 24px;
}

.first-section {
  margin-top: 86px;
}

.first-section .section .container {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f8dbd7), to(#fff2e1));
  background-image: linear-gradient(to right bottom, #f8dbd7, #fff2e1);
  padding: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-section .section .container .left {
  max-width: 350px;
}

.first-section .section .container .left .heading {
  font-size: 80px;
  line-height: 1.2;
}

.first-section .section .container .left .sub_heading {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 10px;
}

.first-section .section .container .left .quote {
  margin-top: 86px;
  height: 350px;
  padding: 32px;
  background-color: #fff;
}

.first-section .section .container .left .quote img {
  height: 25px;
}

.first-section .section .container .left .quote .quote_text {
  margin-top: 32px;
  font-size: 16px;
  line-height: 1.5;
}

.first-section .section .container .left .quote .quote_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
}

.first-section .section .container .left .quote .quote_profile img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.first-section .section .container .left .quote .quote_profile .profile_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  margin-left: 16px;
}

.first-section .section .container .left .quote .quote_profile .profile_info span {
  line-height: 1.5;
}

.first-section .section .container .right {
  margin-left: 64px;
}

.first-section .section .container .right img {
  width: 100%;
}

.first-section .section .container .right .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.first-section .section .container .right .features .feature {
  width: 100%;
  margin-left: 24px;
}

.first-section .section .container .right .features .feature:first-child {
  margin-left: 0px;
}

.first-section .section .container .right .features .feature .feature_title {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}

.first-section .section .container .right .features .feature .feature_desc {
  margin-top: 14px;
  font-size: 13px;
  line-height: 1.5;
}

.first-section .section .container .right .features .feature span {
  border-bottom: 1px solid #000;
}

.first-section .sub_section {
  width: 1280px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f8dbd7), to(#fff2e1));
  background-image: linear-gradient(to right bottom, #f8dbd7, #fff2e1);
}

.first-section .sub_section .container {
  height: 60px;
  background-color: rgba(178, 102, 54, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

.first-section .sub_section .container span {
  font-weight: 400;
  margin-left: 5px;
}

.first-section .sub_section .container:hover {
  background-color: rgba(178, 102, 54, 0.3);
}

.first-section .sub_section .container img {
  height: 11px;
  margin-left: 12px;
}
/*# sourceMappingURL=style.css.map */